html, body {
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 0;
    height: 100%;  /* Asegura que la página ocupe toda la altura de la pantalla */
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%; 
    overflow-x: hidden; 
  }

  #grupoForma {
    display: flex;
     /* Cambia la dirección a columna */
    /* Alinea los elementos a la izquierda */
    gap: 10px; /* Espacio entre los elementos */
    margin: 15px;
    
    
}


footer {
   
    background: linear-gradient(to top,#ec7879,60%, #ffffff);
    color: #3d0c08;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative; /* Posicionamiento normal para que el footer esté al final */
    margin-top: auto;
}
.navbar{

    background: linear-gradient(to bottom right, #ffffff,#ec7879);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
}
.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.imgLogo{
    width: 65px;
    height: 85px;
    margin-right: 20px;
    margin-left: 20px;
}

.opciones{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.opciones li {
    display: inline-block;
}

.opciones button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #3d0c08; /* Color azul tipo botón */
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 5px;
    font-family: 'Slabo 27px', serif;
    
}
.logo{
    display: flex;
    align-items: center;
}

.opciones button:hover {
    background-color: #3d0c0892; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandado */
}

.carousel-inner{
    margin-right: auto;
  margin: 20px;
}

.carrusel{
    width: 350px;
    height: 350px;
    float:right;
    margin-right: 65px;

}

.imgO{
    width: 350px;
    height: 350px;
}


.tituloForm {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #8B4513; /* Marrón pastel */
    margin-bottom: 20px;
    font-family: 'Slabo 27px', serif;
}
.formS{
    text-align: justify;
    font-family: 'Slabo 27px', serif;
    align-items: center; 
}

.frase{
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.imgNav{
    width: 30px;
    height: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to top, #ec7879,20%, #ffffff);
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;  /* Hace que el contenedor ocupe el espacio restante */
    padding-bottom: 50px; 
    align-items: center;
    

}



.labelForm {

    font-weight: bold;
    color: #5a3e36; /* Color café suave */
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Estilo para los inputs */
input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}



.radio-button {
    display: inline-block; /* Hace que las etiquetas se mantengan en línea */
}
/* Estilo del botón */
#submitBtn {
    font-family: 'Slabo 27px', serif;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    background: #3d0c08;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

#submitBtn:hover {
    background: #a0522d; /* Marrón oscuro */
}
.clas-i{
    color: #25a144;
}
.main-content {
    flex-grow: 1 !important; 
}
.section{
    margin-bottom: 10px; 
}

.labelOp{
    font-family: 'Slabo 27px', serif;
    color: #3d0c08;
    font-size: 17px;
    margin-left: 40px;
    
}

/*Estilo de Login*/


/* Personaliza el fondo */
.custom-background {
    background-color: #ec7879 !important;
  }
  
  /* Personaliza el borde de la tarjeta */
  .card-body {
    border-radius: 1rem !important;
  }
  
  /* Personaliza la imagen */
  .custom-img {
    border-radius: 1rem 0 0 1rem !important;
    width: 50px;
    height: 50px;
  }
  .custom-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la imagen completamente */
  }

  .labelFL{
    font-size: 20px;
    font-weight: bold;
    color: #3d0c08;
    font-family: 'Slabo 27px', serif;
  }

  .labelFLS{
    font-size: 10px;
    color: #3d0c08;
    font-family: 'Slabo 27px', serif;
  }

  .car-Page{
    
          margin-top: -100px;
          backdrop-filter: blur(30px);
  }
  