<!-- templates/home.html -->
{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="/static/styles/style_form.css">
<script src="/static/scripts/script_form.js" defer></script>
{% endblock %}

{% block content %}


    <!-- Enlace a una página -->

    <div class="container">
      <label class="tituloForm">Diseñemos tu pastel</label>
      <form action="/generate/" method="POST" class="cakeForm" id="cakeForm">

        <div class="section">
            <label class="labelForm">Temática:</label>
            <input type="text" id="tematica" name="tematica" placeholder="Ej. Safari, Boda con rosas blancas, Fresa" required>
        </div>
          <!-- Sección de Sabor -->
          <div class="section">
            <label for="cake-type">Tipo de pastel:</label>
            <input type="text" id="cake-type" name="cake_type" placeholder="Ej. Chocolate, Vainilla, Fresa" required>
              </div>
          
  
          <!-- Sección de Forma del pastel -->
          <div class="section">
            <label for="cake-size">Tamaño:</label>
            <input type="text" id="cake-size" name="cake_size" placeholder="Ej. Pequeño, Mediano, Grande" required>
              </div>
          
  
          <!-- Sección de Porciones -->
          <div class="section">
            <label for="decoration">Decoración:</label>
            <input type="text" id="decoration" name="decoration" placeholder="Ej. Flores, Fondant, Chocolate" required>
          </div>
  
          <!-- Sección de Relleno -->
          <div class="section">
            <label for="message">Mensaje (opcional):</label>
            <input type="text" id="message" name="message" placeholder="Ej. ¡Feliz Cumpleaños!" >
          </div>
  
           
         
         
          
  
          <!-- Botón de enviar -->
          <div class="section">
              <button type="button" onclick="handleSubmitForm()" class="opciones">Generar Pastel</button>
          </div>
      </form>

      <div id="popup" style="display:none;">
        <h3>Selecciona una imagen:</h3>
        <div id="imageOptions">

        </div>
        <button onclick="closePopup()">Cerrar</button>
        <button id="whatsappBtn" style="display:none;" onclick="redirectToWhatsApp()">Enviar por WhatsApp</button>
    </div>

  </div>

  <!-- Agregar un campo oculto para el pastelero -->
<input type="hidden" id="pastelero_id" name="pastelero_id" value="PASTELERO_ID">



{% endblock %}

