<!-- templates/home.html -->
{% extends "nav_cliente.html" %}

{% block head %}
<link rel="stylesheet" href="/static/styles/style_form.css">
<script src="/static/scripts/script_form.js" defer></script>
{% endblock %}

{% block content %}


    <!-- Enlace a una página -->

    <div class="container">
      <label class="tituloForm">Diseñemos tu pastel</label>
      <form action="/generate/" method="POST" class="cakeForm" id="cakeForm">

        <div class="section">
            <label class="labelForm">¿Qué temática te gustaría para el diseño de tu pastel?</label>
            <input type="text" id="tematica" name="tematica" placeholder="Ej. Safari fiesta infantil, Boda elegante, Unicornio fiesta infantil" required>
        </div>

        <div class="section">
          <label for="cake-type">¿Qué forma deseas para tu pastel?</label>
          <input type="text" id="cake-shape" name="cake_shape" placeholder="Ej. corazon, circular, cuadrado" required>
            </div>
          <!-- Sección de Sabor -->
          <div class="section">
            <label for="cake-type">¿Qué sabor y relleno deseas para tu pastel?</label>
            <input type="text" id="cake-type" name="cake_type" placeholder="Ej. Vainilla con crema de fresa,Chocolatecon crema de Fresa" required>
              </div>
          
  
          <!-- Sección de Forma del pastel -->
          <div class="section">
            <label for="cake-size">¿Qué tamaño de pastel prefieres según el número de invitados?</label>
            <input type="text" id="cake-size" name="cake_size" placeholder="Ej. Pequeño, Mediano para 10 personas, Grande" required>
              </div>
          
  
          <!-- Sección de Porciones -->
          <div class="section">
            <label for="decoration">¿Cómo te gustaría que decoráramos tu pastel?</label>
            <input type="text" id="decoration" name="decoration" placeholder="Ej.  Flores naturales y glaseado rosa,Chispas de Chocolate" required>
          </div>

          <div class="section">
            <label for="decoration">¿Que frase corta, deseas en tu pastel?</label>
            <input type="text" id="message" name="message" placeholder="Ej.  Feliz cumpleaños Lily, Felicidades" required>
          </div>
  
              
         
         
          
  
          <!-- Botón de enviar -->
          <div class="section">
              <button type="button" onclick="generateCake()" class="opciones">Generar Pastel</button>
          </div>
      </form>

      <div id="popup" style="display:none;">
        <h3>Selecciona una imagen:</h3>
        <div class="imageOptions" id="imageOptions">
            <img src="{{ image1 }}" alt="Imagen 1" class="image-option" id="image1">
            <img src="{{ image2 }}" alt="Imagen 2" class="image-option" id="image2">
            <img src="{{ image3 }}" alt="Imagen 3" class="image-option" id="image3">
            <img src="{{ image4 }}" alt="Imagen 4" class="image-option" id="image4">
        </div>
        <!-- Campo oculto para almacenar la imagen seleccionada -->
        <input type="hidden" name="imagenSeleccionada" id="imagenSeleccionada">
        <button onclick="closePopup()">Cerrar</button>
        <!-- Este botón de enviar solo se activará después de que se seleccione una imagen -->
        <button id="submitOrderButton"  type="submit"  disabled>Enviar Orden</button>
    </div>
    

  </div>

 <!-- Campo oculto para el pastelero -->
 <input type="hidden" id="pastelero_id" name="pastelero_id" value="PASTELERO_ID">


{% endblock %}

