{% extends "base.html" %}
{% block content %}
<h2>Paso 2: La Forma de tu Pastel</h2>
<p>Selecciona la forma de tu pastel para continuar con el siguiente paso.</p>
<form action="/step3/" method="post" class="form-step">
    <!-- Campo oculto para pasar el sabor seleccionado -->
    <input type="hidden" name="flavor" value="{{ flavor }}">

    <label for="shape">Forma del Pastel:</label>
    <select name="shape" id="shape" class="styled-select">
        <option value="round">🔵 Circular</option>
        <option value="square">⬛ Cuadrado</option>
        <option value="heart">❤️ Corazon</option>
    </select>
    <button type="submit" class="interactive-button">Next ➡️</button>
</form>
{% endblock %}
