{% extends "base.html" %}
{% block content %}
<h2>Paso 1: Escoje el Sabor de tu Pastel</h2>
<p>Empieza selecionando el sabor del bizcocho en tu pastel </p>
<form action="/step2/" method="post" class="form-step">
    <label for="flavor">Sabor del Pastel:</label>
    <select name="flavor" id="flavor" class="styled-select">
        <option value="chocolate">🍫 Chocolate</option>
        <option value="vanilla">🍦 Vanilla</option>
        <option value="strawberry">🍓 Red Velvet </option>
    </select>
    <button type="submit" class="interactive-button">Next ➡️</button>
</form>
{% endblock %}
