{% extends "base.html" %}
{% block content %}
<h2>Paso 3: Elige tus Toppings</h2>
<p>Dale el toque final a tu pastel con el topping de tu elección.</p>
<form action="/generate/" method="post" class="form-step">
    <!-- Campos ocultos para pasar los datos de sabor y forma -->
    <input type="hidden" name="flavor" value="{{ flavor }}">
    <input type="hidden" name="shape" value="{{ shape }}">

    <label for="topping">Toppings del Pastel:</label>
    <select name="topping" id="topping" class="styled-select">
        <option value="chocolate chips">🍫 Chispas de Chocolate</option>
        <option value="fruit slices">🍓 Pedazos de Fruta</option>
        <option value="whipped cream">🍦 Crema Pastelera</option>
    </select>
    <button type="submit" class="interactive-button">Generate My Cake 🎂</button>
</form>
{% endblock %}

